

.col-form-label {
	font-size: 14px;
}

.select2-container {
	width: 100%;
}

.form-group {
	margin-bottom: 1.25em;
}

.form-group .form-control-lg {
	font-size: 1.25em;
}

.form-group .form-control-round {
	border-radius: 50px;
}

.form-group .form-control-static:focus {
	outline: none;
}

.form-control {
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid #cccccc;
}
.form-control::placeholder{
	font-size:13px;
}

.form-control:focus {
	border: 1px solid #A57142;
}

.form-control.form-control-normal {
	font-weight: 400;
}

.form-control.form-control-bold {
	font-weight: 500;
}

.form-control.form-control-capitalize {
	text-transform: capitalize;
}

.form-control.form-control-uppercase {
	text-transform: uppercase;
}

.form-control.form-control-lowercase {
	text-transform: lowercase;
}

.form-control.form-control-variant {
	font-variant: small-caps;
}

.form-control.form-control-left {
	text-align: left;
}

.form-control.form-control-center {
	text-align: center;
}

.form-control.form-control-right {
	text-align: right;
}

.form-control.form-control-rtl {
	direction: rtl;
}

.form-control:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}


.form-control-primary {
	border-color: #A57142;
	color: #A57142;
}

.form-control-primary:focus {
	border-color: #A57142;
}

.input-group-primary .input-group-append .input-group-text,
.input-group-primary .input-group-prepend .input-group-text {
	background-color: #A57142;
}

.input-group-primary .form-control {
	border-color: #A57142;
}



.form-txt-primary {
	color: #A57142;
}

.form-txt-primary:focus {
	color: #A57142;
}

.form-txt-primary::-moz-placeholder {
	color: #A57142;
	opacity: 1;
}

.form-txt-primary:-ms-input-placeholder {
	color: #A57142;
}

.form-txt-primary::-webkit-input-placeholder {
	color: ;
}


input[type="checkbox"]{
	border:1px solid #A57142;margin:10px;

}

.input-group {
	margin-bottom: 1.25em;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
	background-color: #A57142;
	border-color: rgba(0, 0, 0, 0.15);
	color: #fff;
}

.input-group-button .input-group-addon {
	-webkit-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
}

.input-group-button .input-group-addon:hover {
	background-color: #77aaff;
	border-color: #77aaff;
}

.input-group-button .input-group-addon:hover .btn {
	background-color: #77aaff;
	border-color: #77aaff;
}

.input-group-dropdown [class*=btn-] {
	margin-bottom: 0;
}




/*Form control start*/

.form-material .form-group {
	position: relative;
}

.form-material .form-group.form-static-label .form-control~.float-label {
	top: -20px; 
	font-size: 11px;
}

.form-material .form-control {
	display: inline-block;
	height: 43px;
	width: 100%;
	border: none;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
}

.form-material .form-control:focus {
	border-color: transparent;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-material .form-control:focus~.form-bar:after,
.form-material .form-control:focus~.form-bar:before {
	width: 50%;
}

.form-material textarea {
	height: 100px;
}

.form-material .form-bar {
	position: relative;
	display: block;
	width: 100%;
}

.form-material .form-bar:after,
.form-material .form-bar:before {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0;
	position: absolute;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.form-material .form-bar:before {
	left: 50%;
}

.form-material .form-bar:after {
	right: 50%;
}

.form-material .float-label {
	pointer-events: none;
	position: absolute;
	top: 12px;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.form-material .material-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1.25em;
}

.form-material .material-group .material-addone {
	padding: 0.5rem 0.75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.form-material .material-group .material-addone i,
.form-material .material-group .material-addone span {
	font-size: 20px;
}

.form-material .material-group .form-group {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.form-material .material-group.material-group-lg .material-addone {
	padding: 0.5rem 1rem;
}

.form-material .material-group.material-group-lg .material-addone i,
.form-material .material-group.material-group-lg .material-addone span {
	font-size: 1.55rem;
	font-weight: 500;
}

.form-material .material-group.material-group-lg .form-control {
	padding: 0.5rem 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.form-material .material-group.material-group-lg .form-control:focus~.float-label,
.form-material .material-group.material-group-lg .form-control:valid~.float-label {
	top: -15px;
	font-size: 14px;
}

.form-material .material-group.material-group-lg .float-label {
	font-size: 1.25rem;
}

.form-material .material-group.material-group-sm .material-addone {
	padding: 0.25rem 0.5rem;
}

.form-material .material-group.material-group-sm .material-addone i,
.form-material .material-group.material-group-sm .material-addone span {
	font-size: 0.775rem;
}

.form-material .material-group.material-group-sm .form-control {
	padding: 0.25rem 0;
	font-size: 0.875rem;
	line-height: 1.5;
}

.form-material .material-group.material-group-sm .form-control:focus~.float-label,
.form-material .material-group.material-group-sm .form-control:valid~.float-label {
	top: -9px;
	font-size: 11px;
}

.form-material .material-group.material-group-sm .float-label {
	font-size: 0.775rem;
}

.form-material .form-control:focus~.float-label,
.form-material .form-material .form-control:valid~.float-label {
	top: 12px;
	font-size: 14px;
}

.form-material .form-control.fill~.float-label,
.form-material .form-material .form-control.fill~.float-label {
	top: -14px;
	font-size: 11px;
}

.form-material .form-primary .form-control:focus~label {
	color: #A57142;
}

.form-material .form-primary .form-control:focus~.form-bar:after,
.form-material .form-primary .form-control:focus~.form-bar:before {
	background: #A57142;
}

.form-material .form-primary.form-static-label .float-label {
	color: #A57142;
}

.form-material .form-primary.form-static-label .form-control {
	border-bottom-color: #A57142;
}

.form-material .material-group-primary .material-addone i,
.form-material .material-group-primary .material-addone span {
	color: #A57142;
}


.border-default {
	border-color: transparent;
	border-left: 3px solid #d6d6d6;
	border-radius: 0;
	-webkit-box-shadow: 0 0 1px #999;
	box-shadow: 0 0 1px #999;
	color: #d6d6d6;
}





